body {
	margin-top: 200px;
	text-align: center;
	background-color: #0098FF;
}

h1 {
	margin-bottom: 120px;
	font-family:'Bilbo',cursive;
	color: white;
	font-size:72px;
}

h2 {
	margin-bottom:120px;
	font-size:44.5px;
	font-family:'Bilbo',cursive;
}

img {
	margin-bottom:5-0px;
}

p {
	margin-bottom:40px;
	font-family:Helvetica;
	font-size:24px;
}

p#go {
	color:white;
}
p#close {
	font-family:'Bilbo',cursive;
	font-size:36px;
}

